
body {
    font-family: Arial,sans-serif;
    margin: 20px;
    background: linear-gradient(90deg,cyan,magenta,blue,rgb(66, 6, 6),rgb(117, 2, 146));
}

.question {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

